.body_backgorund 
/*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

{
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

    background-image:url(hOye.gif);
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

    background-position:center;
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

    background-size:cover;
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

}
/*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

#myCanvas
/*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

{
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

    border-width: 10px;
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

    background-color: white;
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

    border-style: ridge;
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

    border-color: darkviolet;
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

   
}
/*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/


#h1{
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

    color: blue;
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

    background: chartreuse;
    /*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/

}
/*made by sohan sunkari 2022'/*made by sohan sunkari 2022*/


/*made by sohan sunkari 2022
/*made by sohan sunkari 2022'/*made by sohan sunkari 2022
/*made by sohan sunkari 2022
/*made by sohan sunkari 2022
/*made by sohan sunkari 2022
/*made by sohan sunkari 2022
/*made by sohan sunkari 2022
/*made by sohan sunkari 2022
/*made by sohan sunkari 2022
/*made by sohan sunkari 2022
/*made by sohan sunkari 2022